<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donation for-a-cause</title>


{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/static/css/animate.css">

	<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/static/'css/magnific-popup.css">


	<link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/static/css/jquery.timepicker.css">

	<link rel="stylesheet" href="/static/css/flaticon.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">

			<button class="navbar-toggler" type="button" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a href="{% url '1' %}" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
					<li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
					<li class="nav-item cta"><a href="{% url 'donate' %}" class="nav-link">Donate</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb img">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-5 order-md-last d-flex align-items-stretch">
					<div class="donation-wrap">
						<div class="total-donate d-flex align-items-center">
							<span class="fa flaticon-cleaning"></span>
							<h4>Donation Campaign <br>are running</h4>
							<p class="d-flex align-items-center">
								<span>Rs</span>
								<span class="number" data-number="24781">0</span>
							</p>
						</div>
						<form action="#" class="appointment">
								<h2>.</h2>
							<h2>.</h2>
							<p style="color:white"><b>Lend the helping hand get involved by donating FOR-A-CAUSE.</b></p>

							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label >Full Name</label>
										<div class="input-wrap">
											<div class="icon"><span class="fa fa-user"></span></div>
											<input type="text" class="form-control" placeholder="">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>Email Address</label>
										<div class="input-wrap">
											<div class="icon"><span class="fa fa-paper-plane"></span></div>
											<input type="email" class="form-control" placeholder="">
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label >Amount</label>
										<div class="input-wrap">
											<div class="icon"><span class="fa fa-money"></span></div>
											<input type="text" class="form-control" placeholder="Rs">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label >Payment Method</label>


									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
									<a href="https://www.instamojo.com/@nemashreya01/l0f10014d4e904d57a9d07260ce1d62c5/" rel="im-checkout" data-text="Donate Now" data-css-style="color:#ffffff; background:#db3e00; width:300px; border-radius:30px"  data-layout="vertical"></a>
<script src="https://js.instamojo.com/v1/button.js"></script>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-7 wrap-about py-5">
					<div class="heading-section pr-md-5 pt-md-5">
						<span class="heading"><h2>Donate FOR-A-CAUSE</h2></span>


					</div>
					<section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/bg_3.jpg');" data-stellar-background-ratio="1.5">
      <div class="overlay"></div>

					</section>

<p>     With your help,we empowers youth and families to better the world globally and at home by providing resources that create sustainable impact. Domestically through programs for schools, villages, a holistic sustainable development model that addresses the root causes of poverty. Our unique partnership with social enterprise, ensures that we achieves a remarkable rate of financial efficiency. This means that on average, 90% of your donation will directly support our projects and programs.
	<b>THANK YOU.</b></p>

				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-3 d-flex align-items-stretch">
					<div class="services">
						<div class="text text-center bg-secondary">
							<h3>Volunteer with <br>Us</h3>
						</div>
						<div class="img border-2" style="background-image: url(/static/images/services-1.jpg);">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-volunteer"></span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 d-flex align-items-stretch">
					<div class="services">
						<div class="text text-center bg-tertiary">
							<h3>Quick <br>Fundraising</h3>

						</div>
						<div class="img border-3" style="background-image: url(/static/images/services-2.jpg);">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-piggy-bank"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex align-items-stretch">
					<div class="services">
						<div class="text text-center bg-primary">
							<h3>Start <br>Donating</h3>

						</div>
						<div class="img border-1" style="background-image: url(/static/images/services-3.jpg);">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-donation"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex align-items-stretch">
					<div class="services">
						<div class="text text-center bg-quarternary">
							<h3>Get <br>Involved</h3>

						</div>
						<div class="img border-4" style="background-image: url(/static/images/services-4.jpg);">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ecological"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>